body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background-color: rgb(102, 67, 255); */
}

a {
  color: #00B7FF;
}
/* body{
  background-color: rgb(107, 107, 107);
} */
